





<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript">
  <%= render "users/jstuff/jquery.jcarousel.js" %>
  <%= render "users/jstuff/jquery.mixitup.min.js" %>
  <%= render "users/jstuff/custom.js" %>
</script>
  <!-- Start Menu -->
  <div class="menubar" data-scroll="true">
    <a href="#" class="newlogo">WeVideo</a>
    <ul class="mainmenu">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/users">All Users</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#blog">Blog</a></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
    </ul>
  </div>
  <!-- End Menu -->
 
  <!-- Start Home -->
  <a class="scroll" id="home"></a>
  <div class="home hero">
    <div class="overlay"></div>
    <div class="herowrapper">

      <h1>WeVideo, for <b class="rotate color"> Videos,Music,Friends</b>.</h1>
      <% if flash[:friend] %>
      <h1> Friend Request Successfully Sent! </h1>
      <% elsif flash[:notice] %>
      <h1> Successfully Signed In!</h1>
      <% elsif flash[:videosession] %>
      <h1> <%= flash[:videosession] %> </h1>
      <% elsif flash[:addfriend] %> 
      <h1> <%=flash[:addfriend]%> </h1>
      <% elsif flash[:upload] %>
      <h1> <%= flash[:upload] %></h1>
      <% elsif flash[:removefriend] %>
      <h1> <%=flash[:removefriend] %></h1>
      <% elsif flash[:videorequest] %>
      <h1> <%=flash[:videorequest]%></h1>
      <% elsif flash[:destroysession] %>
      <h1> <%=flash[:destroysession] %> </h1>
      <% end %>
      <% if @user.inverse_videorequests.size > 0 %>
      <h1> YOU'VE BEEN INVITED TO WATCH A VIDEO!</h1>
      <% end %>
    </div>
    <a href="javascript:void(0);" class="scrolldown">
      <h3></h3>
      <div data-icon="&#xe017;" class="icon"></div>
    </a>
  </div>
  <!-- End Home -->

  <!-- Start BlockQuote -->
  <div class="blockquote_main">
    <% if current_user.photo == nil%>
    <blockquote>Welcome <%=current_user.name %>, Add an Image!
    <%= form_tag "/users/upload", :method => :post, multipart: true do %>
    <div class="signbox">
      <div class="up"><%= file_field_tag "photo", class: "uploadphoto" %></div>
      <div class="st"><%= submit_tag("Upload", class: "stb") %>
    </div>
    <% end %>
    </blockquote>
    <% else %>

    <blockquote>Welcome <%=current_user.name%> </blockquote>
    <% end %>
  </div>
  <!-- End BlockQuote -->

  <!-- Start Content -->
  <div class="content">

    <!-- Start HomePage Section -->
    <div class="section full">
      <h2>My Friends</h2>

      <ul class="carousel" id="carousellatest">
      <% @user.friendships.each do |friendship| %>

        <!-- Start Single Block -->
        <li>
          <div class="section block"> 
           <%=image_tag(friendship.friend.photo)%>
            <div class="content">
              <h5><%=friendship.friend.email %></h5>
              <h6></h6>
            </div>

            <div class="hover">
              <div class="hoverscontent">
                <h2>+</h2>
                <%if !@user.usertwos.include?(friendship.friend)%>
                <h5><%=friendship.friend.email %></h5>
                <h6><%=link_to "Send Video Request", videorequests_path(:usertwo_id => friendship.friend.id), :method => :post, class: "remove"%></h6>
                <% end %>
                <h6><%=link_to "remove friend", "/friendships/#{friendship.id}", :method => :delete, class: "remove" %></h6>
              </div>
            </div>  
          </div>
        </li>
        <% end %>
        <!-- End Single Block -->


        
      </ul>

    </div>
    <!-- End HomePage Section -->

    <!-- Clear :) -->
    <div class="clear"></div>

    <!-- Start HomePage Section -->
    <div class="section full">
      <h2>Friend Requests</h2>

      <ul class="carousel" id="carouselblog">
      <% @user.inverse_invitations.each do |invites| %>
        <!-- Start Single Block -->
        <%if !@user.friends.include?(invites) %>
        <li>
          <div class="section block blog active">
           <%=image_tag(invites.photo)%>
            <div class="content">
              <h5><%=invites.email %></h5>
              <h6>Placeholder</h6>
            </div>
            <div class="hover">
              <div class="hover content">
                <h2>+</h2>
                <h5><%=invites.email %></h5>
                <h6 style="color:white"><%=link_to "Accept Friend Request",friendships_path(:friend_id => invites.id), :method => :post, class: "acceptfriend"%></h6>
              </div>
            </div>
          </div>
        </li>
        <% end %>
        <% end %>
        <!-- End Single Block -->
    
        
      </ul>
    </div>
    <!-- End HomePage Section -->

    <!-- Clear :) -->
    <div class="clear"></div>

  </div>
  <!-- End Content -->

  <!-- Start Section Divider -->
  <div class="section divider">
    <h2 id="servicestitle">Video Invitations</h2>
    <a class="scroll" id="services"></a>
  </div>
  <!-- End Section Divider -->

  <!-- Start Content -->
  <div class="content">

    <!-- Start Main Paragraph -->
    <p class="main dark-gray" id="services">Accept an invitation to start watching a video with a friend!</p>
    <!-- Start Main Paragraph -->
    <% if @user.inverse_videorequests.size > 0 %>
    <% @user.inverse_videorequests.each do |request| %>
    <div class="servicesitem">
      <div class="front">
        <div data-icon="&#xe082;" class="icon"></div>
        <p class="acceptinv"><%=request.user.email %></p>
      </div>
      <div class="back">
        <h3><%=link_to "Accept Video Request", {:controller => "videosessions", :action => "update", :persontwo_id => @user.id, :video_request_id => request.id, :user_id => request.user.id}, :method => :put %></h3>
      </div>
      </div>
    <% end %>
    <% end %>

    <!-- Clear :) -->
    <div class="clear"></div>
  </div>
  <!-- End Content -->
  
  <!-- Start Section Divider -->
  <div class="section divider">
    <h2>Video Sessions Initiated</h2>
    <a class="scroll" id="about"></a>
  </div>
  <!-- End Section Divider -->

  <!-- Start Content -->
  <div class="content">

    <!-- Start Main Paragraph -->
    <p class="main dark-gray">Here are the video requests you sent to friends.  Wait for a status: "Watch Video Now!" to watch your video!</p>
    <!-- Start Main Paragraph -->


    <!-- Start Person Block -->
    <% @user.videosessions.each do |session| %>
    <div class="person">
      <div class="image quotefade">

        <img src="/assets/video.jpeg"/>
        <div class="quotehover">
          <h5><%=session.persontwo.email %></h5>
           <% if session.status == "pending"%>
          <h6>Invite Status: <%=session.status %></h6>
        </div>
      </div>
       <div class="info">
        <h2><%=session.persontwo.email %></h2>
        <h4 class="light-gray"></h4>
        <h4>Status: <%=session.status%> </h4>
        

        <a href="#" class="socialicon linkedin"></a>
        <a href="#" class="socialicon facebook"></a>
        <a href="#" class="socialicon twitter"></a>
        <a href="#" class="socialicon dribbble"></a>
        <a href="#" class="socialicon pinterest"></a>
      </div>
    </div>
    <!-- Clear :) -->
    <div class="clear"></div>

          <% else %>
          <h6><%=link_to "Watch Video Now!", "/videosessions/#{session.id}" %> </h6>
        </div>
      </div>
      <div class="info">
        <h2><%=session.persontwo.email %></h2>
        <h4 class="light-gray"></h4>
        <h4>Status: <%=session.status%> </h4>
        

        <a href="#" class="socialicon linkedin"></a>
        <a href="#" class="socialicon facebook"></a>
        <a href="#" class="socialicon twitter"></a>
        <a href="#" class="socialicon dribbble"></a>
        <a href="#" class="socialicon pinterest"></a>
      </div>
    </div>
    <!-- Clear :) -->
    <div class="clear"></div>
    <% end %>
    <% end %>
    <!-- End Person Block -->


  </div>
  <!-- End Content -->

  
</body>
<!-- End Body -->
</html>









